Source/SogetiSkills.UI/Service References/SogetiSkillsService/SogetiSkillsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54376/SogetiSkillsService.svc?xsd=xsd2" namespace="http://us.sogeti.com/sogetiskills/1/" />
  <xs:element name="Profile_GetByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Profile_GetByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://us.sogeti.com/sogetiskills/1/" minOccurs="0" name="Profile_GetByUsernameResult" nillable="true" type="q1:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>