Source/SogetiSkills.UI/Service References/SogetiSkillsService/SogetiSkillsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://us.sogeti.com/sogetiskills/1/" elementFormDefault="qualified" targetNamespace="http://us.sogeti.com/sogetiskills/1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Skills" nillable="true" type="tns:ArrayOfSkill" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profile" nillable="true" type="tns:Profile" />
  <xs:complexType name="ArrayOfSkill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Skill" nillable="true" type="tns:Skill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkill" nillable="true" type="tns:ArrayOfSkill" />
  <xs:complexType name="Skill">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Skill" nillable="true" type="tns:Skill" />
</xs:schema>